body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.video-js {
    width: 700px;
    height: auto;
    aspect-ratio: 16/9;
}