* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.work-section {
    width: 100%;
    min-height: 439px;
    background: #EDCBB1;
}
.work-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.work-content-section {
    float: right;
    width: 55%;
}
.work-image-section {
    float: left;
    width: 40%;
}
.work-image-section img {
    width: 100%;
    height: auto;
}
.work-content-section .work-title {
    font-size: 28px;
    font-weight: 400;
}
.work-content-section .work-content p {
    margin-top: 24px;
    color: #000;
    font-size: 17px;
    line-height: 1.5;
}